<!DOCTYPE html>
<html lang="en">
<head>
    <title>Characters</title>
    <!-- Personal css -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="text-align: center;">
    <form action="/characters">
        <button>Characters</button>
    </form>
    <form action="/quotes">
        <button>Quotes</button>
    </form>
    <h1>Episodes</h1>
    <%if(data.length>0){%>
        <%for (let episode of data){%>
            <div style="background-color:indianred; width: fit-content; margin: auto; padding: 5px;">
                <h1><%=episode.series%></h1>
                <h2>S<%=episode.season%>E<%=episode.episode%></h2>
                <p>Title: <%=episode.title%></p>
                <p>Aired at: <%=episode.air_date%></p>
            </div>
        <%}%>
    <%}%>
</body>
</html>